{% block sidebar %}

<div class="col-md-4 float-right">
    <div class="card my-1.5">
        <h5 class="card-header">About</h5>
        <div class="card-body">
            <p class="card-text">
                My blog application is created using the Django web framework for the backend, 
                designed with a Bootswatch theme for the user interface. You can also follow 
                YouTube at the following address...
            </p>
            <a href="https://docs.djangoproject.com/en/5.0/" class="btn btn-secondary">Documentation</a>
        </div>
    </div>
</div>

{% endblock sidebar %}